.hero-img{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: relative;
}

.social-img {
    position: absolute;
    top: 560px; /* İkonun yatay konumunu ayarlayın */
    left: 5px; /* İkonun dikey konumunu ayarlayın */
    transform: translateX(-50%);
    z-index: -1;
}

.hero-img::before {
    content: "";
    background: url("https://images.unsplash.com/photo-1555421689-491a97ff2040?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}
button{
    
        padding: 13px 32px;
        font-size: 1rem;
        text-transform: uppercase;
        background: rgb(248, 217, 15);
        color: #222;
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;

}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-img h1{
    font-size: 2.4rem;
}
.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}
@media screen and(max-width: 640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
}